@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fontFamily: 'Poppins', sans-serif;

}


html {
    height: auto;


}

body {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontFamily);

}

/*--------------------------------------------heading*/
/*----------------------------nav*/
nav.nav-extended {
    height: 66px;
}

.logoImg {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.brand-logo {
    margin-left: 70px;
}


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #ff9a80;

}

.heading_color {
    color: #e53834;
    font-weight: 400;
    text-shadow: 0.5px 0.5px rgb(199, 199, 199);
}


.btn-small {
    margin: 5px;
}


.btn {
    color: #fff;
    font-weight: 500;
    background-color: #e53834;
}

.food_img {
    width: 50%;
    height: 50%;
}

.food_category_name {
    color: #e53834;
    font-weight: 400;
}

.profile_text {
    font-size: 20px;
}

.flask_message {
    margin: auto;
    padding: 10px;
}

.meg-style {
    text-transform: capitalize;
}


/*--------------------------------------------------------------------------------------Media Queries--*/






/* --------------------------------------------------------------------mxa-width:600px */

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        font-size: 23px;
        font-weight: 500;
    }

    .brand-logo {
        margin-left: 0px;
    }

    .card-panel {
        padding: 5px;
    }

    .btn_search {
        margin: 2px;
    }

    .btn,
    .btn-large,
    .btn-small,
    .btn-floating,
    .btn-large,
    .btn-small,
    .btn-flat {
        font-size: 11px;
    }

    .search_container {
        margin-bottom: 3px;
    }

    .input-field .prefix {
        font-size: 20px;
        margin-left: 10px;
    }

    .input_container {
        margin: -5px;
    }

    .heading_color {
        font-size: 2rem;
    }

    .text_check {
        font-size: 14px;
    }

    /* edit recipes page*/
    .cancel_btn {
        margin: 5px;
    }
}


/* --------------------------------------------------------------------mxa-width:350px */


@media only screen and (max-width: 350px) {

    /* home page*/
    nav .brand-logo {
        font-size: 20px;
        font-weight: 500;
    }

    .brand-logo {
        margin-left: 0px;
    }

    .modal_heading {
        font-size: 20px;
    }

    .card-panel {
        padding: 5px;
    }

    .search_form {
        padding: 0.5px;
    }

    .btn_search {
        margin: 2px;
    }

    .btn,
    .btn-large,
    .btn-small,
    .btn-floating,
    .btn-large,
    .btn-small,
    .btn-flat {
        font-size: 11px;
    }

    .search_container {
        margin-bottom: 3px;
    }


    .input-field .prefix {
        font-size: 22px;
    }

    .heading_color {
        font-size: 2rem;
    }

    /* login page*/
    .input-field .prefix {
        font-size: 20px;
        margin-left: 10px;
    }

    .input_container {
        margin: -5px;
    }

    /* profile page*/
    .profile_text {
        font-size: 18px;


    }

    .check_recipes {
        font-size: 17px;
    }

    .text_check {
        font-size: 14px;
    }

    /* edit recipes page*/
    .cancel_btn {
        margin: 5px;
    }
}