{% extends "base.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Add Recipes</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix red-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Food Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix red-text text-darken-4"></i>
                <input id="food_name" name="food_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="food_name">Food Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot prefix red-text text-darken-4"></i>
                <input id="cooking_level" name="cooking_level" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="cooking_level">Easy? More effort? or A challange</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix red-text text-darken-4"></i>
                <textarea id="food_description" name="food_description" minlength="5"
                    class="materialize-textarea validate" required></textarea>
                <label for="food_description">Food Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix red-text text-darken-4"></i>
                <textarea id="food_img" name="food_img" minlength="5" class="materialize-textarea validate"></textarea>
                <label for="food_img"><a href="https://cloudinary.com">Type a URL to upload image</a></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-carrot prefix red-text text-darken-4"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">Ingredients/Ingredients></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-flask prefix red-text text-darken-4"></i>
                <textarea id="recipe_method" name="recipe_method" minlength="5" class="materialize-textarea validate"
                    required></textarea>
                <label for="recipe_method">Method</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large red darken-1 text-shadow">
                    Add Recipes<i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>


    </form>
</div>

{% endblock %}
©