{% extends "base.html" %}
{% block content %}

<h3 class="heading_color center-align">All recipes</h3>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Tasks</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_foods') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="red darken-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
{% if foods|length > 0 %}
<div class="card">
    {% for foods in foods %}
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ foods.food_img}}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"> <strong>{{ foods.food_name}}</strong> :
            {{ foods.category_name }}<i class="material-icons right">Recipes</i></span>
        <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"> <strong>{{ foods.food_name}}</strong> :
            {{ foods.category_name }}<i class="material-icons right">close</i></span>
        <p>{{ foods.food_description }}</p>
        <p><em>by: {{ foods.created_by }}</em></p>
        {% if session.user|lower == foods.created_by|lower %}
        <a href="{{ url_for('delete_recipes', foods_id=foods._id) }}" class="btn-small green accent-4">Delete</a>
        <a href="{{ url_for('edit_recipes', foods_id=foods._id) }}" class="btn-small red lighten-1">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

{% endblock %}