{% extends "base.html" %}
{% block content %}

<h3 class="heading_color center-align">All recipes</h3>

<ul class="collapsible">
    {% for foods in foods %}
    <li>
        <div class="collapsible-header white-text red darken-4 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ foods.food_name}}</strong> : {{ foods.category_name }}
        </div>
        <div class="collapsible-body">
            <strong>{{ foods.cooking_difficulty}}</strong>
            <p>{{ foods.food_description }}</p>
            <p><em>by: {{ foods.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}